extends layout

block content
  nav
    div.logo
      a(href='/') Out of Time
      img(src='images/icon-w.png')
    div.top-links
      a#about(href='about') About
      a#login(href='login') Login
      a#signUp(href='signUp') Sign Up

  div.content-wrap.about
    h3 About Us
    p At Out of Time*, our purpose is simple: helping you enjoy the final moments of your life.
    p Eternal Love before Eternal Rest
    p.small *Talk with your doctor today to see if Out Of Time is right for you