extends layout

block content
  div.splash
    div.logo.main
      span= title
      img(src='images/icon.png')
    p.subtitle One last chance at love
    a.btn.btn-primary#btnSignUp(href='signup') Sign Up Today

  section.callToAction
    form#formSignUp(name="signup",method="post",action="/changeToBrowse")
      span I am a
      select.form-control(name = "gender")
        option(value="woman") Woman
        option(value="man") Man
      span seeking a
      select.form-control(name = "seekingGender")
        option(value="man") Man
        option(value="woman") Woman
      span and my estimated time of death is
      select.form-control(name = "expirationDate")
        option(value="threeMonths") Three months or less
        option(value="sixMonths") Six months or less
        option(value="oneYear") One year or less
        option(value="longer") Not gonna die in a year... I've got time to wait
      a.btn.btn-secondary#btnSubmit(href='validation') Submit

  section.testimonials.content-wrap.container
    div.text-center.row
      h3 Testimonials
      div.testimonial.col-md-4
        p.testimonial "Nice to know I can still tap that ass before I'm grass" — StickItB4YouDigIt
        p.expired
          span.label expired
          span 02/14/2011
      div.testimonial.col-md-4
        p.testimonial "Cupid shot me, but I died happy" — TLC (Tender, Love, Cremation)
        p.expired
          span.label expired
          span 07/04/2016
      div.testimonial.col-md-4
        p.testimonial "Better than dying alone" — DeathStalker43
        p.expired
          span.label expired
          span 01/01/2015

  script.
    $('.dropdown-toggle').dropdown()
