doctype html
html
  head
    title= title
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    footer
      div.footer-links
        a(href='/about') About
        a(href='#') Press
        a(href='#') Blog
        a(href='#') Privacy Policy
        a(href='#') Terms and Conditions
      © Out Of Time 2016
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js') 
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js')
