extends layout

block content
  nav
    div.logo
      a(href='/') Out of Time
      img(src='../images/icon-w.png')
    div.top-links
      a#home(href='/') Home
      a#about(href='about') About
      a#browse(href='browse') Browse
      a#login(href='preferences') Preferences
      a#logout(href='/') Logout

  div.content-wrap.text-center.disappears
    div.end-img
      img(src='/images/beginning.jpg')
      p The beginning...

  div.content-wrap.text-center
    div.end-img
      img(src='/images/end.jpg')
      p ...of the end.
