extends layout

block content
  nav
    div.logo
      a(href='/') Out of Time
      img(src='../images/icon-w.png')
    div.top-links
      a#about(href='about') About
      a#login(href='login') Login
      a#signUp(href='signUp') Sign Up

  div.content-wrap.text-center.disappears
    div.end-img
      img(src='/images/beginning.jpg')
      p The beginning...

  div.content-wrap.text-center
    div.end-img
      img(src='/images/end.jpg')
      p ...of the end.
