extends layout

block content
  nav
    div.logo
      a(href='/') Out of Time
      img(src='../images/icon.png')
    div.top-links
      a#about(href='about') About
      a#login(href='login') Login
      a#signUp(href='signUp') Sign Up

  div.content-wrap.text-center
    div.end-img
      img(src='/images/end.jpg')
